<div class="row">
	<div class="col-sm-4 col-sm-offset-1">
		<%= image_tag @p.image.url, :style => "height:400px;width:300px" %>
	</div>

	<div class="col-sm-4"><h2><%= @p.name %></h2></div>
	<div class="col-sm-4"><h4>Rs. <%= @p.sale_price %></h4></div>
	<div class="col-sm-2"><%= link_to("Add to Cart",{ :controller => 'cart',  :action => 'add', :id => @p.id }) %></div></div>
	<div class="col-sm-2"><button type="button" class="btn btn-primary btn-block">Buy Now</button></div>
</div>

<br><br><br>
<div class="row">
	<div class="col-sm-offset-2">
		<table class="table active">
			<tr>
				<th>Product Name</th>
				<td><%= @p.name %></td>
			</tr>
			<tr>
				<th>Product Type</th>
				<td><%= @p.category.name %></td>
			</tr>
			<tr>
				<th>Product Brand</th>
				<td><%= @p.brand.name %></td>
			</tr>
			<tr>
				<th>Product Price</th>
				<td><%= @p.sale_price %></td>
			</tr>
			
			<tr>
				<th>Number Of Product Left</th>
				<td><%= @p.quantity %></td>
			</tr>
		</table>
	</div>